//
   Created with JetBrains WebStorm.
   User: dchack
   Date: 13-11-15
   Time: 下午2:33
   To change this template use File | Settings | File Templates.


extends layout
block content
    div.container
        h3 upload success!
        div()
            h2 the file path is
                h1 #{filePath}
